.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/sonarlint/issuestore/1/3/13ad24ecb3cad16943b287ea8fdd726d4faae459
/.idea/sonarlint/issuestore/2/a/2a45a911a8f1836b0b6c5b758962572012d8f8c3
/.idea/sonarlint/issuestore/5/0/50479d105b1683bafb047d72a7523003beb97ae9
/.idea/sonarlint/issuestore/5/b/5bbfa66edb4db3c7c33c5181f43510990d3307f9
/.idea/sonarlint/issuestore/6/4/6448ab291b77afb291c0abfecf51bcc9327ed4b2
/.idea/sonarlint/issuestore/7/4/749edfcc96398253e5b3416184e95c46621da850
/.idea/sonarlint/issuestore/8/d/8d223b365c5d38935d8c3b9629cbdb95ff99b32f
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/d/b/dbcff70658daf80b53ce624f6adcaa529df5ed8d
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/1/3/13ad24ecb3cad16943b287ea8fdd726d4faae459
/.idea/sonarlint/securityhotspotstore/2/a/2a45a911a8f1836b0b6c5b758962572012d8f8c3
/.idea/sonarlint/securityhotspotstore/5/0/50479d105b1683bafb047d72a7523003beb97ae9
/.idea/sonarlint/securityhotspotstore/5/b/5bbfa66edb4db3c7c33c5181f43510990d3307f9
/.idea/sonarlint/securityhotspotstore/6/4/6448ab291b77afb291c0abfecf51bcc9327ed4b2
/.idea/sonarlint/securityhotspotstore/7/4/749edfcc96398253e5b3416184e95c46621da850
/.idea/sonarlint/securityhotspotstore/8/d/8d223b365c5d38935d8c3b9629cbdb95ff99b32f
/.idea/sonarlint/securityhotspotstore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/securityhotspotstore/d/b/dbcff70658daf80b53ce624f6adcaa529df5ed8d
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/.gitignore
/.idea/git_toolbox_prj.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
